.header-nav ul li a:hover,
.priv1:hover,
.priv2:hover,
.foot:hover {
  color: blue; 
  font-weight: bold;
  cursor: pointer;
}

button:hover,
.learn-more:hover {
  cursor: pointer;
  font-weight: bold;
}

.buy-box:hover {
  cursor: pointer;
  border: 2px solid rgba(243, 246, 248, 0.5); 
  box-shadow: 4px 4px 10px rgba(134, 134, 134, 0.3); 
}