.icons {
  display: flex;
  position: relative;
  width: 60%;
  max-width: 750px;
  height: 100%;
  min-height: 450px;
}

.icons img {
  width: 7vw;
  height: auto;
  max-width: 50px;
  max-height: 50px;
}

.icons img[alt="google"] {
  width: 4vw;
  height: 4vw;
  max-width: 50px;
  min-width: 30px;
  max-height: 50px;
  min-height: 30px;
}

.icons img[alt="atlassian"] {
  height: 4vw;
  max-width: 50px;
  min-width: 30px;
  max-height: 50px;
  min-height: 30px;
}

.circle-atlassian,
.circle-asana,
.circle-paypal,
.circle-weave,
.circle-calendar {
  width: 9vw;
  height: 9vw;
  max-width: 80px;
  min-width: 50px;
  max-height: 80px;
  min-height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.circle-google,
.circle-ads {
  width: 7vw;
  height: 7vw;
  max-width: 65px;
  min-width: 45px;
  max-height: 65px;
  min-height: 45px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.circle-google {
  top: 10%;
  left: 5%;
}

.circle-atlassian {
  top: 5%;
  right: 55%;
}

.circle-asana {
  top: 5%;
  right: 5%;
}

.circle-paypal {
  top: 35%;
  left: 5%;
}

.circle-weave {
  top: 35%;
  right: 35%;
}

.circle-ads {
  top: 70%;
  left: 25%;
}

.circle-calendar {
  top: 75%;
  right: 5%;
}


/* footer icons */



.hire img {
  width: 20px;
  height: auto;
}

.bubbles {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 20px;
}

.hoop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: #ecf2ff;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  background-color: #277afd;
}

.hoop:first-child::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  width: 23vw;
  height: 2px;
  background-color: gray;
  transform: translateY(-50%);
  z-index: -5;
  }

.hoop:last-child::before {
  content: "";
  position: absolute;
  top: 30%;
  right: 50%;
  width: 23vw;
  height: 2px;
  background-color: gray;
  transform: translateY(-50%);
  z-index: -5;
}

.hoop:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -150%;
  width: 23vw;
  height: 2px;
  background-color: gray;
  transform: translateX(50%);
  z-index: -5;
}
